:root {
  --primary: #707dfd;
}

#heading {
  color: var(--primary);
  margin-bottom: 10px;
}
.main-div {
  width: 600px;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: 1rem;
}

#email,
#password {
  padding: 4px 8px;
  margin: 20px;
  width: 200px;
}

#submit-btn {
  width: 80px;
  align-self: center;
  background-color: var(--primary);
  color: #fff;
  padding: 4px 8px;
  margin: 40px 0px;
  letter-spacing: 1.5px;
  font-weight: bold;
  border: 1px solid var(--primary);
}

#submit-btn:hover {
  color: var(--primary);
  background-color: #fff;
  border: 1px solid var(--primary);
  cursor: pointer;
}

#output {
  display: flex;
  margin: 20px auto;
  color: #6b21a8;
  border-bottom: 1px solid #6b21a8;
  width: 500px;
  justify-content: center;
  letter-spacing: 1px;
  font-size: 20px;
}

#output-email {
  margin-right: 60px;
}

::placeholder {
  color: #818cf8;
  text-align: center;
}
